.gwc-btn {
  &.gwc-icon-btn {
    width: 100%;
    height: 100%;
    padding: 10px 5px;

    border: none;
    background: $background;

    svg {
      width: 100%;
      height: 50px;

      fill: $text-normal;

      path {
        stroke: $text-normal;
      }
    }

    .gwc-btn-label {
      display: block;
      margin-top: 5px;
      color: $text-normal;
    }

    &:hover:not(:disabled) {
      background: darken($background, 5%);
    }

    &.gwc-selectable-btn {
      svg {
        width: 100%;
        height: 30px;

        fill: $text-secondary;

        path {
          stroke: $text-secondary;
        }
      }

      .gwc-btn-label {
        color: $text-secondary;
      }

      &.gwc-selected-btn {
        svg {
          fill: $text-normal;

          path {
            stroke: $text-normal;
          }
        }

        .gwc-btn-label {
          color: $text-normal;
        }
      }

      &:hover:not(:disabled) {
        background: inherit;

        svg {
          fill: $text-normal;

          path {
            stroke: $text-normal;
          }
        }

        .gwc-btn-label {
          color: $text-normal;
        }
      }
    }
  }
}
