.gwc-select {
  @extend .gwc-input;

  padding: 5px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  option {
    color: $text-inverse;

    &:disabled {
      font-weight: bold;
    }
  }
}
