// Much love to the color pickers at Axosoft <3

$background: #21313f;
$accent: #00e5ff;

$text-normal: #e3fbff;
$text-secondary: rgba(227, 251, 255, 0.6);
$text-inverse: #1b2625;

$btn-primary-border: #04819e;
$btn-primary-bg: rgba(4, 129, 158, 0.2);
$btn-primary-hover: rgba(4, 129, 158, 0.6);
