@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#glo-web-clipper {
  @import 'variables';

  @import 'utils/reset';
  @import 'utils/normalize';

  @import 'components/grid';

  @import 'components/containers/box';
  @import 'components/containers/section';
  @import 'components/containers/form-section';

  @import 'components/buttons/button';
  @import 'components/buttons/icon-button';

  @import 'components/form/checkbox';
  @import 'components/form/input';
  @import 'components/form/select';
  @import 'components/form/status-check';

  font-family: 'Open Sans', sans-serif;
  color: $text-normal;
  font-size: 14px;

  box-sizing: border-box;

  display: block;
  position: fixed;
  width: 325px;

  top: 0;
  right: 0;
  z-index: 2147483647 !important;

  user-select: none;

  ::selection {
    background: $accent;
  }

  a {
    color: $accent;
  }

  code {
    color: $text-normal;
    background: none;
  }

  .gwc-preview {
    display: block;
    max-width: 100%;
    max-height: 200px;
    margin: 0 auto;
  }
}
