@import '~croppr/dist/croppr.css';

#glo-web-clipper {
  @import 'variables';

  @import 'utils/reset';
  @import 'utils/normalize';

  @import 'components/grid';
  @import 'components/croppr';
  @import 'components/preview';

  @import 'components/containers/box';
  @import 'components/containers/section';
  @import 'components/containers/form-section';

  @import 'components/buttons/button';
  @import 'components/buttons/icon-button';

  @import 'components/form/checkbox';
  @import 'components/form/input';
  @import 'components/form/select';
  @import 'components/form/status-check';
  @import 'components/form/textarea';

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  color: $text-normal;
  font-size: 14px;

  box-sizing: border-box;

  display: block;
  position: absolute;

  top: 0;
  right: 0;
  z-index: 2147483645 !important;

  user-select: none;

  ::selection {
    background: $accent;
  }

  a {
    color: $accent;

    &.gwc-open-card-link {
      display: block;
      text-align: center;
      padding: 5px 0;
    }
  }

  code {
    color: $text-normal;
    background: none;
  }
}
